@media (max-width: 768px) {
    #banner h2 {
        font-size: 2.2rem;
    }
}

#banner .links-content {
    margin-top: 1.6rem;
}

#banner .links-content span {
    margin-left: 3rem;
    font-size: 1.6em;
}

#banner .links-content a:hover {
    color: #1957F3 !important;
}

.parallax-container {
    height: 100vh;
}